$body-font-size: 1.3em;
$list-font-size: 1.4em;
$body-line-height: 1.5em;

/*
	Colors
*/
$link-color: #3e8601;
$black: #333333;
$red: #a72b1c;
$purple: #6a0788;
$purple-mix: rgba($purple, 0.5); // Simulate mixing 50% purple with 50% white
$green: #3e8601;
$yellow: #ebb41f;
$blue: #0774d0;
