@import url(http://www.ssb.no/_public/skins/advanced/ssb.no/styles/styles.css);	// Should be included somehow to avoid CORS issue
@import '_variables.scss';

@import '_reset.scss';

.klass {
	::-webkit-input-placeholder {
		font-style: italic;
	}
	.breadcrumbs {
		font-size: 1.3em;
		line-height: 1.3em;
	}
	.language-selector {
		font-family: "Oswald","Calibri","Arial","DejaVu Sans",sans-serif;
    	font-size: 1.1em;

		p {
			display: inline;
		}
		select {
			border: none;
			background: inherit;
			margin-left: 10px;
			font-family: "Oswald","Calibri","Arial","DejaVu Sans",sans-serif;
			text-align: right;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}
	}
	.klass-item .main {
		// font-size: 1em !important;
		// font-size: 120%;
	}
	.sitewrapper {
		margin: 0 auto;
	}

	.back-link {
		color: #003399;

		a {
			text-decoration: underline;
		}
	}

	.main {
		width: 67em;
		float: left;
		margin-right: 3em;

		.heading {
			.description.short {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				line-height: 1.5em;     /* fallback */
		   		max-height: 6em;      /* fallback */
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
	}

	h1 {
		font-size: 3.6em;
	}

	input[type="submit"], button {
		background: linear-gradient(#fff, #D8D8D8);
		height: 2em;
		border-width: 1px;
		cursor: pointer;
	}

	select {
		background: linear-gradient(#fff, #D8D8D8);
	}


	.alternate tbody tr:hover, .alternate tbody tr.odd:hover {
		background-color: lighten($black, 70%) !important;
	}

	.clickable {
		cursor: pointer;
	}

	span.clickable {
		text-decoration: underline;
		color: $link-color;
	}

	.modal-overlay {
		// position: fixed;
		// top: 0;
		// right: 0;
		// bottom: 0;
		// left: 0;
		// z-index: 99999;
		// pointer-events: auto;
		// overflow: auto;
		// transition: opacity 1s ease-in;
		// background: rgba(51, 51, 51, 0.1);
	}

	.modal-notes {
		position: absolute;
		line-height: $body-line-height;
		margin-left: 60px;

		&.left .modal-content {
			width: 500px;
		}
		&.right {
			margin-left: 670px;

			.modal-content {
				width: 260px;

				&:after {
					left: -1.5em;
					right: auto;
					transform: rotate(-90deg);
				}

				h5 {
					display: none;
				}

				.flex-container {
					flex-direction: column;
					.label {
						margin-bottom: 0.3em;
						flex: none;
						text-align: left;
					}
				}
			}
		}

		.modal-content {
			position: relative;
			border: 1px solid lighten($black, 20%);
			width: 500px;
			outline: none;
			padding: 20px;
			z-index: 100;
			font-size: $body-font-size;
			background-color: lighten($black, 20%);
			color: #fff;
			box-shadow: 3px 3px 20px lighten($black, 20%);
			margin-bottom: 2em;

			&:after {
				border: solid;
				border-color: lighten($black, 20%) transparent;
				border-width: 0 1em 1em 1em;
				top: 2.5em;
				content: "";
				display: block;
				right: -1.5em;
				position: absolute;
				z-index: 101;
				transform: rotate(90deg);
			}

			.flex-container {
				margin-bottom: 1.2em;

				.label {
					white-space: nowrap;
					font-weight: bold;
					flex: 0 0 100px;
					text-align: right;
					padding-right: 1em;
				}
			}
		}


		.close-button {
			cursor: pointer;
			position: absolute;
			right: 10px;
			top: 5px;
			font-size: 2em;
			color: lighten($purple, 50%);
		}

		h5 {
			text-align: center;
			padding-bottom: 1em;
		}
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		justify-content: space-around;
		flex: 1 0 0;

	}

	.browsehappy {
	    margin: 0.2em 0;
	    background: #ccc;
	    color: #000;
	    padding: 0.2em 0;
	}
}
