@use 'sass:color';
@use "../../../styles/_variables.scss";


.klass-item {
	.heading {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #bbb;
	}

	.icon-info {
		position: absolute;
		right: 0;
        top: 0.5em;
        border: none;
        background: none !important;
        height: auto !important;
        font-size: 1.5em !important;

		i {
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	.tabs {
		// font-size: 125%;
		line-height: variables.$body-line-height;

		.version-info {
			font-weight: bold;
			label {
				color: #aaa;
			}

			.red-box {
				border: 1px solid #ccc;
				padding: 0.5em;
				margin-bottom: 1em;
				background-color: #FFDCED;
			}

			.green-box {
				border: 1px solid #78EA20;
				padding: 0.5em;
				margin-bottom: 1em;
				background-color: #C1F9F9;
			}
		}

        .tab-content {
            div[role=tablist] ul {
                list-style-type: none;
                position: relative;
                flex: 1 0 auto;
                box-sizing: border-box;
                flex-direction: row;
                align-items: stretch;
                display: flex;
                border-bottom: 1px solid #a53d7c;

                li {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    white-space: nowrap;
                    margin-right: 0.4em;
                    margin-bottom: -1px;

                    div {
                        padding: 0.75em 0.7em 0.66em 0.7em;
                        text-align: center;
                        font-size: 1.3em;
                        border: 1px solid #ccc;
                        border-bottom: 1px solid #a53d7c;
                        border-radius: 0.3em 0.3em 0 0;
                        background: linear-gradient(#fff, #D8D8D8);

                        &[aria-selected=true] {
        					border-top: 1px solid #a53d7c !important;
        					border-right: 1px solid #a53d7c !important;
        					border-left: 1px solid #a53d7c !important;
        					border-bottom: 1px solid #fff !important;
        					color: #861f62;
        					font-weight: bold;
           					border-radius: 0.3em 0.3em 0 0;
                            background: #fff;

                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .tabBody {
                padding: 2em 1em;

    			> div {
    				width: 100%;
    			}

    			table {
    				margin-top: 1rem;

    				td, th {
    					padding-top: 0.7em;
    					padding-bottom: 0.7em;

    					&.label {
    						font-weight: bold;
    						width: 10em;
    					}
    				}
    			}

    			thead th {
    				background-color: #e5e5e5;
    				font-weight: bold;
    				color: color.scale(#000, $lightness: 50%);
    			}
    			.alternate tbody tr:nth-child(2n) {
    				background-color: #f5f5f5;
    			}
            }
        }


		/*
			react-tab-panel
		*/
		.react-tab-panel__tab-strip--theme-default
		{

			&.react-tab-panel__tab-strip--tab-position-top {

				.react-tab-panel__tab-title {
					border: 1px solid #ccc;
					border-bottom: none;
					border-radius: 0.3em 0.3em 0 0;
					background: linear-gradient(#fff, #D8D8D8);
				}

				.react-tab-panel__tab-title--active {
					border-top: 1px solid #a53d7c !important;
					border-right: 1px solid #a53d7c !important;
					border-left: 1px solid #a53d7c !important;
					border-bottom: none;
					color: #861f62;
					font-weight: bold;
					border-radius: 0.3em 0.3em 0 0;
					background: #fff !important;
				}

				&.react-tab-panel__tab-strip--orientation-horizontal .react-tab-panel__tab-strip-between {
					width: 0.4em;
					border-bottom: 1px solid #a53d7c;
				}

				.react-tab-panel__tab-strip-after {
					border-bottom: 1px solid #a53d7c;
					border-top: 3px solid transparent;
				}
			}

			.react-tab-panel__tab-title-inner {
	            padding: 0.75em 0.7em 0.66em 0.7em;
	            text-align: center;
                font-size: variables.$body-font-size;
			}

			.react-tab-panel__tab-title:not(.react-tab-panel__tab-title--active) {
				border-bottom: 1px solid #a53d7c;
			}

		}
		.react-tab-panel__body {
			padding: 2em 1em;

			> div {
				width: 100%;
			}

			table {
				margin-top: 1rem;

				td, th {
					padding-top: 0.7em;
					padding-bottom: 0.7em;

					&.label {
						font-weight: bold;
						width: 10em;
					}
				}
			}

			thead th {
				background-color: #e5e5e5;
				font-weight: bold;
				color: color.scale(#000, $lightness: 50%);
			}
			.alternate tbody tr:nth-child(2n) {
				background-color: #f5f5f5;
			}
		}

		.button-heading {
			text-align: right;
			margin-bottom: 3em;
			display: block;
            .flex-item {
                display: inline;
            }
			button {
				margin-left: 1em;
			}
		}

		/*
			Codes
		*/
		#koder-panel {
			.search-box {
				width: 80%;
			}
			.results {
				clear: both;

                .shortName {
                    display: none;
                }
			}
		}
		/*
			Variants
		*/
		#varianter-panel {
			.search-box {
				width: 80%;
				margin-bottom: 5em;
			}
			.results {
				clear: both;

                .shortName {
                    display: none;
                }
			}
		}
		/*
			correspondences
		*/
		#korrespondanser-panel {
			.search-box {
				width: 80%;
				margin-bottom: 5em;
			}
			.results {
				clear: both;

                .shortName {
                    display: none;
                }
			}
		}

		/*
			About version
		*/
		#om-panel {
			line-height: variables.$body-line-height;

			.align-right {
				text-align: right;
			}

			.about-table {

				a {
					text-decoration: underline;
				}

                th {
                    white-space: nowrap;
                }

				td, th {
					padding-left: 0;
				}

                td table td, td table th {
                    font-size: 1em !important;
                }

				.levels-table {
					margin-top: 0;
				}
			}
		}

		/*
			Changes
		*/
		#endringer-panel {
			.change-table {
                th {
                    width: 50%;
                }

                ul.grouped-codelist {
                    list-style-type: none;
                }
			}
		}

		/*
			correspondences
		*/
		#korrespondanser-panel {
            .table-correspondenceTable th {
                width: 50%;
            }
			ul.corr-targetlist {
				list-style-type: none;
			}
		}

	}
}

@media screen and (max-width: 700px) {
    .klass-item .tabs {
        .codes .search-box {
            width: 100%;
        }

        .tab-content {
            div[role=tablist] ul {
                border-bottom: none;
                flex-flow: row wrap;
                flex: auto;

                li {
                    margin-bottom: 0.7em;

                    div {
                        border-radius: 0.3em !important;
                        border: 1px solid #ccc;
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;

                        &[aria-selected=true] {
                            border: 1px solid #a53d7c !important;
                            background: #545454;
                            color: #fff;
                        }
                    }
                }
            }
        }


        .tab-content {
            .react-tab-panel__tab-strip-inner {
                flex-flow: row wrap;
                flex: auto;

                .react-tab-panel__tab-title {
                    display: block;
                    border-bottom: 1px solid #ccc !important;
                    border-radius: 0.3em;
                    margin-bottom: 0.7em;

                    .react-tab-panel__tab-title-inner {
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                    }
                }

                .react-tab-panel__tab-title--active {
                    border-bottom: 1px solid #a53d7c !important;

                    .react-tab-panel__tab-title-inner {
                        background: #545454;
                        color: #fff;
                    }
                }

                .react-tab-panel__tab-strip-between,
                .react-tab-panel__tab-strip-after {
                    border-bottom: none !important;
                }
            }
        }
    }
}
