@use 'sass:color';
@use '../../../styles/variables' as *;

#header{
    width: 80%;
    //display: flex;
    //flex-wrap: wrap;
    border-bottom: 1px solid $ssb-dark-5;
    margin-bottom: 1em;
    min-height: 80px;
    background: #fff;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0 auto;
    background-color: white;
    //width: 95em;

   /* .menu-closed {
        background-color: white;
    }*/
  
    #logo {
        display: block;
        float: left;
        margin: 20px 0 24px 0;
        height: 50px;
        img {
            width: 248px;
            //height: 58px;
            //image-rendering: optimizeQuality;
        }
    }

    #main-menu {
        clear: both;
        position: relative;
        li {
            float: left;
        }
        .top-level > a, #main-menu .top-level.selected > span {
            font-family: var(--font-family);
            font-weight: normal;
            color: #444;
            display: block;
            font-size: 2.2em;
            padding: 0.5em 0 1.32em 1.2em;
            font-weight: 800;
        }
        .top-level > a:hover, #main-menu .top-level.selected > a, #main-menu .top-level.selected > span {
            color: #a53d7c;
            outline: 0;
        }
        .top-level > a:focus {
            outline: 0;
            text-decoration: underline;
        }
        .top-level {
            position: absolute;
            top: 0;
        }

        #main-menu-top {
            overflow: hidden;
        }
        .statistikk {
            position: static;
        }
        .statistikk .mega-menu-toggle {
            background-position: 3.25em bottom;
        }
        .forskning .mega-menu-toggle {
            background-position: 3em bottom;
        }
        .omssb .mega-menu-toggle {
            background-position: 2.5em bottom;
        }
        .statistikk {
            width: 95em;
        }
        .forskning {
            left: 20.5em;
            width: 74.5em;
        }
        .innrapportering {
            left: 41em;
            width: 54em;
        }
        .omssb {
            left: 68em;
            width: 27em;
        }
        .mittssb {
            right: 0;
        }
        .en .forskning {
            left: 16.4em;
            width: 78.6em;
        }
        .en .innrapportering {
            left: 31.5em;
            width: 63.5em;
        }
        .en .omssb {
            left: 53.6em;
            width: 41.4em;
        }
        .en .mittssb {
            right: 0;
        }
        .en .top-level > a {
            padding-left: 1em;
        }

    }
}


#search {
    float: right;
    clear: right;
    margin-bottom: 10px;
  }
  #search input[type='submit']:hover,
  #search input[type='submit']:focus {
    cursor: pointer;
    color: #636363;
    background-color: white;
  }
  
  #search label,
  #search2 label {
    position: absolute;
    left: -9999px;
  }
  #search input[type='submit'],
  #search2 input[type='submit'] {
    background-color: #636363;
    background-image: none;
    color: white;
    //text-transform: uppercase;
    border: 0;
    font-family: var(--font-family);
    font-size: 1.5em;
    padding: 0.1em 0.6em 0.2em 0.6em;
    margin-left: 0.2em;
    vertical-align: middle;
  }
  
  #sok {
    font-size: 1.4em;
    width: 15em;
    padding: 0.4em 0.2em 0.5em 2.25em;
    border: 0;
    box-shadow: 0 0 2px #888 inset;
    vertical-align: middle;
  }
  
  #sok-404 {
    font-size: 1.3em;
    height: 19px;
    width: 23.5em;
    border: 1px solid #808080;
    border-right: none;
    vertical-align: middle;
  }
  #sok-404 label {
    position: absolute;
    left: -9999px;
  }
  #sok-404 input[type='submit'] {
    vertical-align: bottom;
    height: 23px;
    margin-top: 0.1em;
    padding: 1px 6px;
    font-size: 0.9em;
    //text-transform: uppercase;
    border: 1px solid #808080;
    //background: transparent url("../images/button-shade.png") repeat-x left top;
  }
  #sok-404 input[type='submit']:hover, #sok-404 input[type='submit']:focus {
    cursor: pointer;
    border-color: #505050;
    //background-image: url("../images/button-shade-hover.png");
  }
  
  #global-tools {
    margin: 1.4em 0;
    float: right;
  }
  #global-tools form {
    margin-right: 1em;
  }
  
  ul.nav {
    list-style-type: none;
  }
  ul.nav li a {
    text-decoration: none;
  }
  
  .global-links.nav {
    //text-transform: uppercase;
    font-size: 1.4em;
  }
  .global-links.nav li {
    display: inline;
  }
  .global-links.nav > li {
    display: block;
    float: left;
    line-height: 1.4;
    border-bottom: 1px solid #aaa;
    margin-left: 1em;
  }
  .global-links.nav > li.selected {
    border-bottom: 0;
  }
  .global-links.nav.below {
    color: #000;
    font-size: 1.0em;
    float: none;
    line-height: 2.2em;
  }
  .global-links.nav.below li a {
    color: #000;
  }
  .global-links.nav.below li a.selected {
    font-weight: bold;
  }
  .global-links.nav.below li img {
    vertical-align: sub;
    margin-right: 0.4em;
  }
  .global-links #skip-to-content a:focus, .global-links #skip-to-content a:active {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
  }
  .global-links.content {
    line-height: 1.9em;
    margin-right: 0.2em;
  }
  .global-links.content a.selected {
    font-weight: bold;
  }
  .global-links .shortcut {
    font-family: var(--font-family);
  }
  
  #letter-size li {
    margin-left: 0;
    line-height: 1;
  }
  #letter-size .size-l {
    font-size: 1.2em;
  }
  #letter-size .size-xl {
    font-size: 1.4em;
  }
  
  #topmenu {
    background-color: #f1efe0;
    height: 2.6em;
    padding-top: 0.2em;
    overflow: visible;
  }
  
  .innholdsside #topmenu {
    margin-left: 0;
    width: 100%;
  }
  
  #site-nav-first-item {
    margin-right: 0em;
  }
  
  #site.nav {
    float: left;
    height: 2.6em;
    border-bottom: 1px solid #808080;
  }
  #site.nav li {
    float: left;
    text-align: center;
  }
  #site.nav li a {
    color: #333;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    padding: 0.6em 1em 0.4em 1em;
    height: 1.15em;
  }
  #site.nav li.active {
    background-color: #fff;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    margin-bottom: -1px;
  }
  #site.nav li.active a {
    padding-top: 0.5em;
    height: 1.25em;
  }
  #site.nav li.active a:hover {
    padding-top: 0.5em;
  }
  #site.nav li.back-link {
    width: 19em;
    text-align: left;
    overflow: hidden;
  }
  #site.nav li.back-link:hover {
    background-color: #fff;
  }
  #site.nav li.back-link span {
    color: #8dbb2b;
    font-size: 1.7em;
    float: left;
    padding: 0.3em 0 0.4em 0.3em;
    height: 0.85em;
  }
  #site.nav li.back-link a {
    width: 12em;
    color: #333333;
    padding: 0.6em 0.5em 0.45em 0.5em;
    height: 1.15em;
    float: left;
  }
  #site.nav a:hover {
    background-color: #fff;
  }
  
  .innholdsside #site.nav {
    width: 100%;
  }
  
  .leteside #site.nav li.back-link {
    display: none;
  }
  
  #navigation-path {
    margin-bottom: 3em;
    overflow: hidden;
  }
  #navigation-path .nav {
    overflow: hidden;
  }
  #navigation-path .nav li {
    float: left;
    margin-right: 0.5em;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  #navigation-path .nav li a {
    line-height: 1.3em;
    text-decoration: underline;
  }
  #navigation-path .nav li a:hover {
    color: #a53d7c;
  }
  #navigation-path .nav li a:after {
    color: #000;
  }
  
  #breadcrumbs {
    float: left;
    width: 90em;
  }
  
  #print-page {
    display: none;
    float: right;
  }
  
  #letter-size * {
    font-size: 0.9em;
  }
  #letter-size ul {
    display: inline;
  }
  #letter-size li:after {
    content: '';
  }
  
  #global-language > div {
    display: inline;
  }
  
  #sprak-bytte {
    text-transform: none;
  }
  #sprak-bytte.closed {
    position: absolute;
    left: -9999px;
  }
  #sprak-bytte.open {
    left: -11.07em;
  }
  #sprak-bytte .dialog-content {
    padding: 1.429em 2.143em;
    width: 20.71em;
  }
  #sprak-bytte .dialog-heading {
    font-size: 1.143em;
  }
  #sprak-bytte p {
    font-size: 0.929em;
}
#sprak-bytte .more-link {
    font-size: 1em;
    text-decoration: underline;
}
#sprak-bytte .more-link:after {
    content: '';
}
body.large #logo {
    margin: 30px 0 36px 0;
}
body.extra-large #logo {
    margin: 40px 0 64px 0;
}

/*
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    margin-top: 1rem;
*/