@use "../../../styles/_variables" as vars;

.klass{
	.search-box {
		margin-bottom: 3em;

        .fa-info-circle {
            font-size: 1.5em;
            cursor: pointer;
            margin-left: 0.5em;
        }

        .close-button {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 2em;
						color: rgba(vars.$purple, 0.5);
        }

        .modal-content, .modal-content p {
            color: #fff;
        }

		.flex-container {
			align-items: flex-end;
			label {
				display: inline-block;
				font-weight: bold;
				margin-bottom: 0.3em;
			}
			input[type="text"], input[type="submit"], button, select {
				width: 100%;
				height: 2em;
				box-sizing: border-box;
			}
			.search-input-text, .flex-item {
				flex: 10 1 auto;
				margin-right: 1em;
			}
			.search-dropdown-section {
                width: 20em;
				margin-left: 3em;
			}
			.search-button,
            .reset-button {
				flex: 5 1 auto;
                margin-right: 1em;
								margin-bottom: 1em;
			}
		}
        .filter {
            margin-top: 1em;
    		justify-content: flex-start !important;
        }
		input[type="checkbox"] {
			width: 1.5em;
			height: 1.5em;
			vertical-align: bottom;
		}
		a {
			// font-size: vars.$body-font-size;
			text-decoration: underline;
			margin-left: 1em;
			color: vars.$link-color;
		}
	}

	.search-results {
		h2 {
			font-weight: bold;
		}
		.result-item {
			margin-bottom: 2em;

			h3 {
				font-weight: normal;

				a {
					text-decoration: underline;
					color: #000;

					&:hover {
						color: #3e8601;
					}
				}
			}

			.result-snippet {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}

}

@media screen and (max-width: 700px) {
    .klass{
    	.search-box {
    		.flex-container {
                .search-button {
                    margin-right: 0;
                }
                .search-input-text {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 1em;
                }

                .search-dropdown-section {
                    width: 100%;
                    margin-top: 1em;
    				margin-left: 0;
                }
            }
        }

        .tabs {
            .button-heading {
                display: flex !important;

                .flex-item {
                    width: 50%;
                    padding-right: 1em;
                    &:last-child {
                        padding-right: 0;
                        padding-left: 1em;
                    }

                    button {
                        width: 100%;
                        min-height: 2em;
                        height: 100%;
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}
